---
import "../styles/global.css"
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Niklas Feuerstein" />
    <meta name="description" content="Die Website von Niklas Feuerstein :D" />
    <title>Niklas Feuerstein</title>
    <script is:inline defer src="https://cloud.umami.is/script.js" data-website-id="744e5b74-b1fe-4569-a2df-0129dacc2513"></script>
  </head>
  <body>
    <section class="bg-amber-400 w-full min-h-[100dvh]">
      <h1 class="text-6xl sm:text-7xl lg:text-8xl font-extrabold text-center pt-10 hover:underline">Niklas Feuerstein</h1>
	  <img class="max-w-full h-auto mx-auto max-h-[80vh] mt-10" src="/img/niklas.JPG">
    <p class="text-center text-2xl pt-12">Diese Website ist ist derzeit noch in Arbeit :)</p>
    <p class="text-center text-2xl pb-12">Meine Links gibt es <a href="https://feuerstein.dev/links" class="underline">hier</a></p>
    </section>
  </body>
</html>
