---
import Social from './social.astro'
---


<footer>
    <Social platform="Github" username="feuersteinium"/>
    <a href="https://mastodon.online/@feuerstein" rel="me"><p>Mastodon</p></a>
</footer>