---
import '../styles/header.css'
---

<header id="header">
    <section class="hfont inline">
        <img id="pp" src="/img/pp.svg">
        <a href="/">Niklas</a>
    </section>
    <section class="hfont inline right">
        <a>Blog</a>
        <a>Docs</a>
        <a>Projects</a>
        <a>About</a>
    </section>
</header>