---
import '../styles/header.css'
---

<header>
    <div  class="fb">
       <p class="hfont fstart"><a href="/">Niklas</a></p>
       <p class="hfont fend"><a href="/docs">Docs</a></p>
       <p class="hfont fend"><a href="/projects">Projects</a></p>
       <p class="hfont fend"><a href="">About</a></p>
    </div>
</header>